h2 { color: #444; font-weight: lighter; }
body { margin: 2em; }
body, input[text], button { color: #888; font-family: Cambria, Georgia; }
button {padding: 0.2em; font-size: 14px}

#login {
    border: 1px solid lightgrey;
    margin: 13% 39%;
    padding: 20px;
}
#todo{
    padding-top: 30px;
}
