h2 { color: #444; font-weight: lighter; }
body { margin: 2em; }
button {padding: 0.2em; font-size: 14px}

#login {
    border: 1px solid lightgrey;
    margin: 13% 39%;
    padding: 20px;
}
#todo{
    padding-top: 30px;
}
.pending{
    color: red;
}
.cancel{
    cursor: pointer;
    color: red;
}
